.Board__cell
{
  min-width: 50px;
  min-height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board__row
{
  display: flex;
}

.App
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

html, body
{
  margin: 0;
  padding: 0;
}
